.user_card .user_image {
    width: 100%;
    border-radius: 50%;
    text-decoration: none;
}

.user_card .user_name>a{
  color: black;
}

.user_card .btn-outline-primary{
  color: #38A1F3;
  border-color: #38A1F3;
}

.user_card .btn-outline-primary:hover {
    background-color: #38A1F3;
    border-color: #38A1F3;
  }
  
.user_card .btn-primary {
    background-color: #38A1F3;
    border-color: #38A1F3;
  }

.user_card .btn {
    border-radius: 2em;
    font-weight: 800;
}