.right-panel .followers_field {
    height: 330px;
    background-color: #ECF0F2;
    width: 85%;
    border-radius: 1em;
}

.right-panel .search_bar {
    width: 85%;
}

.right-panel .heading {
    text-align: left;
}